<html>
    <body>
        <h1>Here is a list of users</h1>
        <ul>
            <% users.forEach(function(user){ %>
                <li><%= user %></li>
            <%  }); %>
        </ul>
    </body>
</html>